$color-bg: #cbc8d8;
$color-white: #fff;
$color-black: #17202A;
$color-light: rgba(255, 255, 255, 0.87);
$transition: all 400ms ease;
$font-family: "Fira Sans", sans-serif;
$border-radius: 0.5rem;
$max-width: 350px;

@mixin flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@mixin darkMode {
    background-color: $color-black;
    color: $color-white;
}

@mixin lightMode {
    background-color: $color-white;
    color: $color-black;
}